body{
            margin: 0;
            padding: 0;
            height: 100%;
        }

        header {

        }
        main {
            width: 100%;
            margin: 0;
            border: 1px solid #c3c3c3;
            display: flex;
            flex-direction: row;
        }
        footer{

        }
        #navbar{

        }
        #lateral{
            padding: 8%;
            margin: 0;
            padding-bottom: 100%;
            background-color: #bbbbc0;
            overflow: scroll;
            justify-items: center;
        }
        .chat-container{
            overflow: scroll;
            margin: 0;
            width: 80%;
            padding: 5%;
            justify-items: center;
        }
        #input-box{

        }
        .message{
            background-color: #bbbbc0;
            border-radius: 10px;
        }